@import url(font.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    letter-spacing: 2px;
}
body {
    font-family: 'Barlow', sans-serif;
    color: #ffffff;
    background-color: #0e0e0e;
    line-height: 1.6;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

header {
    background: rgba(0, 0, 0, 0); /* Black background */
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0; /* Ensure navbar starts at the top of the page */
    height: 50px;
}
.service-item {
    /* Initial styles */
    transform: scale(1);
    transition: transform 0.3s ease;
    /* Other styles like padding, background, etc. */
}
.image-container {
    transform-origin: center;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.nav-links a:hover {
    color: #ff6347; /* Change color on hover */
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 400;
    align-items: center;
    /* size: 750px; */
    /* background-color: black; */
    /* box-shadow: gray; */
    /* border-radius: 100px; */
}
nav.nav{
    font-weight: bold;
    background-color: #29373c76;
    /* width: 750px; */
    align-items: center;
    justify-content: space-between;
    animation: scaleIn 1.5s ease forwards;
    transform-origin: center;
    /* border-color: #3b53586a; */
    /* border-style: solid; */
    height: 50px;
    margin: auto;
    
}
@keyframes scaleIn {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.logo img {
    height: 60px;
    padding-left: 30px;
    padding-top: 5px;
}
.logo a:hover {
    background-color: transparent;
    color: transparent;
}
.logo a:focus {
    outline: none;
}
.logo a:active {
    background-color: transparent;
    color: transparent;
}
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 100px;
    letter-spacing: 2px;
}
.nav-links li {
    margin-left: 35px;
}

.nav-links a {
    color: #00CCCC; /* New color */
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #aaaaaa;
}



.contact-heading {
    color: #333;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.contact-heading:hover {
    color: #f00;
    transform: scale(1.1);
}

.contact-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.contact-btn:hover {
    background-color: #f00;
    transform: scale(1.1);
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #00CCCC; /* New color */
}
body.no-scroll {
    overflow: hidden;
}

.hamburger.active i {
    content: "\f00d"; /* FontAwesome 'X' icon */
    display: block;
    overflow-y: auto;
}

/* Hero Section */
.hero-section {
    height: 100vh;
    display: flex;
    color: white;
    position: relative; /* Ensure z-index works correctly */
    overflow: hidden;
}

.hero-section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 .herocontent {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1; 
}

.herocontent h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    /* animation: slideIn 3s forwards; */
    /* display: flex; */
    display: inline-block;
} 
.herocontent h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    /* animation: fadeIn 6s forwards; */
    display: inline-block;
}

.herocontent p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    /* animation: fadeIn 6s forwards; */
    display: block;
}

.hero-btn {
    background: #2dd7d7b1; /* New color */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    /* transition: background 0.3s; */
    /* animation: fadeIn 7s forwards; */
}

.hero-btn:hover {
    background: #000000;
    color: #3f6868;
}
.herocontainer1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('https://zeromotorcycles.com/wp-content/uploads/2021/01/2022-dsr-black-greenscape.jpg');
    background-size: cover;
    background-position: center;
}

.hero-content1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    max-width: 600px; /* Adjust max-width as needed */
    padding: 20px;
    background-color: transparent;
    color: white;
}

.hero-content1 h1 {
    font-size: 2.5rem; /* Example font size */
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
}

.hero-content1 p {
    font-size: 1.25rem; /* Example font size */
    margin-bottom: 20px;
}

.view-all-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-all-btn:hover {
    background-color: #0057b300; /* Darker blue on hover */
    color: #00CCCC;
}

/* Keyframe Animations */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Services Section */
.services-section {
    padding: 50px 20px;
    background: #111; /* Dark background */
}

.services-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #00CCCC; /* New color */
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    background: #222; /* Slightly lighter black */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 10px;
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    animation: fadeInUp 1.5s forwards;
}

.service-item i {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #00CCCC; /* New color */
}

.service-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 1rem;
}
z

/* Slider Section */
.slider-section {
    background: url('images/background.jpg') no-repeat center center/cover;
    /* padding: 50px 20px; */
    text-align: center;
    color: white;
    background: #111;
}

.slider {
    /* margin: 0 auto; */
    max-width: 100%;
    padding-left: 90px;
}

.slide-item {
    position: relative;
}

.slide-content {
    position: relative;
    height: 700px;
    overflow: hidden; /* Ensure overflow is hidden for smooth animation */
}

.product-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
}

.product-info img {
    width: 650px; /* Adjust image width as needed */
    height: 400px; 
    border-radius: 5px;
    /* position: fixed; */
}
.description {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* justify-items: center; */
    justify-content: space-between;
    /* position: relative; */
}

.slide-caption {
    margin-left: 70px; /* Spacing between image and caption */
}

.slide-caption h3 {
    font-size: 2rem;
    text-wrap: nowrap;
    /* background-color: #00CCCC; */
}
.expand-description {
    /* position: absolute; */
    /* top: 200px; */
    /* left: 350px; */ 
    /* width: 100%; */
    /* transform: translateY(-50%); */
    /* background: rgb(131, 34, 34); */
    margin-left: 80px;
    padding: 2px;
    height: 3rem;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s ease;
    transform: translateY(0%);
}


.expand-description.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
}

.expand-description i.expand-icon {
    font-size: 2rem;
    color: #00CCCC;
    cursor: pointer;
    margin-right: 10px;
    /* justify-self: center; */
    /* align-self: center; */
    /* justify-content: center; */
    /* align-items: center; */
    transition: transform 0.3s ease;
}

.expand-description i.expand-icon.rotate {
    transform: rotate(45deg);
}

.slide-description {
    max-width: 80%;
    text-align: center;
    opacity: 0;
    /* transition: opacity 0.2s ease; */
}

.expand-description.active .slide-description {
    opacity: 1;
    transition: transform 0.5s ease;
    transform: translateY(50%);
    
}

/* About Us Section */
.about-section {
    padding: 50px 20px;
    text-align: center;
    background: #0e0e0e; /* Dark background */
}

.about-section h2 {
    font-size: 5rem;
    margin-bottom: 20px;
    color: #00CCCC; /* New color */
}

.about-section p {
    font-size: 7rem;
    padding: 10vh;
    text-wrap: nowrap;
}

/* Contact Section */
.contact-section {
    padding: 50px 20px;
    text-align: center;
    background: #0e0e0e; /* Dark background */
}

.contact-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #00CCCC; /* New color */
}

form {
    max-width: 600px;
    margin: 10px auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

form input,
form textarea,
form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    background: #00CCCC; /* New color */
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background: #222222;
    color: #00CCCC;
}

/* Footer Section */
footer {
    background: #000;
    color: #FFF;
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}

/* Media Queries */
@media (max-width: 800px) {
    header{
        border-radius: 30px;
        padding: 0 100px;
        padding-left: 100px;
    }
    nav.nav {
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
        border-color: #000;
        border-style: solid;
        align-items: center;
        border-radius: 40px;
        padding: 0 20px;
        height: 70px;
    }
    @keyframes scaleIn {
        0% {
            transform: scaleX(0);
        }
        100% {
            transform: scaleX(1);
        }
    }
    .nav-links {
        position: fixed;
        right: 0;
        top: 64px; /* Ensure it starts below the header */
        background: #222222; /* Black background */
        height: calc(100vh - 64px); /* Full height minus header */
        width: 100%; /* Half screen width */
        transform: scaleY(0); /* Start collapsed */
        transform-origin: top; /* Collapse from top */
        transition: transform 0.3s ease-in-out;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999; /* Ensure it's above other content */
    }

    .nav-links.active {
        transform: scaleY(1);
    }

    .nav-links li {
        margin: 20px 0;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-left: auto;
    }
    .hamburger div {
        width: 35px;
        height: 3px;
        background-color: #fff;
        margin: 4px;
        transition: all 0.3s ease;
    }
    .hamburger.active .line1 {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    .hamburger.active .line2 {
        opacity: 0;
    }

    .hamburger.active .line3 {
        transform: rotate(45deg) translate(-5px, -5px);
    }
    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product-info img {
        width: 650px; /* Adjust image width as needed */
        height: 400px; /* Ensure image height adjusts proportionally */
        border-radius: 5px;
    }
    
    .slide-caption {
        margin-left: 100px; /* Spacing between image and caption */
    }
    
    .slide-caption h3 {
        font-size: 2rem;
    }
    
    .expand-description {
        position: absolute;
        top: 445px;
        bottom: 20px; /* Adjust position from bottom */
        left: 50px;
        width: 100%;
        height: 30px;
        transform: translateY(-100%);
        background: transparent;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease;
    }
    
    .expand-description.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    }

    .expand-description i.expand-icon {
    font-size: 2rem;
    color: #00CCCC;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.3s ease;
    }

    .expand-description i.expand-icon.rotate {
    transform: rotate(45deg);
    }

    .slide-description {
    max-width: 80%;
    text-align: left;
    opacity: 0;
    transition: opacity 0.3s ease;
    }

    .expand-description.active .slide-description {
    opacity: 1;
    }
    
}
/* ... Existing CSS ... */

/* Details Button */
.details-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: 600;
    background-color: #00CCCC;
    color: #222222;
    border: #222222;
    border-style: solid;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.details-btn:hover {
    background-color: #222222;
    color: #00CCCC;
    border-color: #00CCCC;
}

/* Product Detail Section */
.product-detail-section {
    padding: 50px 20px;
    text-align: center;
    background-color: #111;
    color: white;
    min-height: 100vh;
}

.product-detail-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.product-detail-section img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product-detail-section p {
    font-size: 1.2rem;
    line-height: 1.6;
}
.product-detail-section button{
    background: #00CCCC; /* New color */
    color: #222222;
    text-decoration: solid;
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s;
    padding: 10px;
    border-radius: 40px;
    border-style: solid;
    border-color: #222222;
    padding: 0 20px;
    height: 50px;
    width: 200px;

}
.product-detail-section button:hover{
    background: #222222;
    color: #00CCCC;
    transition: 500ms;
    border-color: #00CCCC;
}
/* Dropdown Menu Styles */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #000;
    min-width: 170px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
    border-radius: 20px;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu a {
    color: #ffffff;
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: #33333300;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Responsive Styles */
@media (max-width: 800px) {
    .dropdown-menu {
        position: relative;
        top: 0;
        right: 0;
        background-color: transparent;
        list-style: none;
        opacity: 1;
        visibility: visible;
        display: none;
        transition: all 0.3s ease;
    }
    .dropdown-menu li {
        padding: 10px;
    }
    .dropdown-menu a {
        color: #00CCCC; /* New color */
        text-decoration: none;
        font-size: 1rem;
    }
    .dropdown.active .dropdown-menu {
        display: block;
    }
}
.gallery{
    width: 100%;
    height: 100vh;
    /* background-color: olive; */
}
/* project 0 css */
.image-specs-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

.image-specs-container img {
  width: 100%;
  height: auto;
  display: block;
}

.neutralize {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 10%;
  transform: translateY(50%);
}

.neutralize li {
  margin: 0 5px; /* Adjust spacing between columns as needed */
  text-align: center;
  flex: 1;
  font-weight: bold;
}

/* Different font sizes for each list item */
.neutralize li:nth-child(1) {
  font-size: 1.8em; /* Example: 1.2em for the first item */
}

.neutralize li:nth-child(2) {
  font-size: 1.9em; /* Example: 1.5em for the second item */
}

.neutralize li:nth-child(3) {
  font-size: 1.8em; /* Example: 1.8em for the third item */
}
/* for project 1 */

        .additional-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 50px; /* Adjust margin as needed */
        }

        .additional-content .text-content {
            flex: 1;
            margin-left: 20px; /* Adjust margin as needed */
        }

        .additional-content img {
            max-width: 70%; /* Adjust image width as needed */
            height: auto;
            margin-right: 20px; /* Adjust margin as needed */
        }

        @media (max-width: 768px) {
            .additional-content {
                flex-direction: column;
                align-items: flex-start;
            }

            .additional-content img {
                max-width: 100%; /* Full width on smaller screens */
                margin-right: 0;
                margin-bottom: 20px; /* Space between image and text on smaller screens */
            }

            .additional-content .text-content {
                margin-left: 0;
            }
        }
        /* for project 1 title */
        @keyframes fadeIn {
          0% {
              opacity: 0;
          }
          100% {
              opacity: 1;
          }
      }
      .fade-in {
          animation: fadeIn 1s ease-in-out forwards;
      }
      /* project 1 text fade in */
      .text-content {
        opacity: 0; /* Initially hide the section */
        transform: translateY(50px); /* Start from below */
        transition: opacity 1s ease, transform 1s ease; /* Smooth transition */
    }
    .text-content.show {
        opacity: 1;
        transform: translateY(0); /* Move to actual position */
    }
    .product-detail-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    /* project zero specs */
    .image-specs-container {
        background-color: #000;
        position: relative;
        width: 100%;
        max-width: auto; 
        margin-bottom: 20px; 
    }
    
    .image-specs-container img {
        max-width: 100%;
        height: auto;
    }
    
    .specs {
        position: absolute;
        bottom: 60px;
        left: 0;
        width: 100%;
       
        padding: 10px;
        box-sizing: border-box;
    }
    
    .neutralize.list-inline {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
    
    .neutralize.list-inline li {
        text-align: center;
    }
    